$border-color: #eee;

.nav {
    margin-top: 40px;

    .nav-list {
        list-style: none;
        padding: 0;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        padding: 15px 40px;

        li {
            display: inline;
            margin-right: 40px;
            cursor: pointer;
            color: #656565;
            text-align: center;

            &.active {
                text-decoration: underline;
            }
        }
    }

    .line {
        height: 5px;
        width: 30px;
        background-color: black;
        position: fixed;
        top: 210px;
        left: 613px;
    }
}
