.text-bubble::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 88%;
    top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(243 244 246);
}
