.search {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    align-items: flex-end;

    .search-box {
        width: 50%;
        max-width: 672px;
        min-width: 450px;
    }
}
