$primary-color: rgb(243, 243, 243);

.search-engine-select {
    background-color: white;
    z-index: 11;
    position: absolute;
    padding: 0;

    .engine-icon-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        .engine-icon {
            height: 50px;
            width: 50px;
            margin-top: 15px;
            display: block;
        }
    }

    .select {
        width: 100px;
        height: 100px;
        border-color: black;
        border-right: 1px solid $primary-color;
        border-bottom-width: 1px solid $primary-color;
        transition: background-color 0.2s;
        flex-direction: column;
        cursor: pointer;

        .icon-name {
            font-size: 14px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 10px;
        }

        &:hover {
            background-color: $primary-color;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-basis: 100px;
        margin: 0;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: background-color 0.5s;
}
