.search-input-form {
    display: flex;
    border: 1px solid gray;
    border-radius: 8px;
    width: 100%;
    height: var(--search-input-height);
    align-items: center;
    background-color: white;

    .icon-container {
        height: var(--search-input-height);
        flex-basis: var(--search-input-height);

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        &:hover {
            background-color: rgb(238, 238, 238);
            border-radius: 8px 0 0 8px;
        }
    }

    .search-engine-icon {
        display: inline-block;
        width: 40px;
        height: 40px;
    }

    .search-input {
        margin-left: 5px;
        outline: none;
        height: 100%;
        flex-grow: 1;
        border: none;
        background: transparent;
        font-size: 18px;
        font-family: inherit;
    }

    .search-icon {
        width: 20px;
        height: 20px;
        color: white;
    }

    .search-button {
        min-width: var(--search-input-height);
        height: 100%;
        background-color: black;
        cursor: pointer;
        justify-self: flex-end;
    }
}
