@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --search-input-height: 56px;
}

body {
    font-family: "Open Sans", arial, sans-serif;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 8px;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 60%);
    width: 6px;
}

input[type="range"] {
    appearance: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #333;
    height: 2px;
    border-radius: 2px;
}

input[type="range"]::-moz-range-track {
    background-color: #333;
    height: 2px;
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background-color: white;
    border: 2px solid #333;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -10px;
}

input[type="range"]::-moz-range-thumb {

    appearance: none;
    background-color: white;
    border: 2px solid #333;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -10px;
}