:root {
    --search-input-height: 56px;
}

body {
    font-family: arial, sans-serif;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0;
}
